<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-title">
                <a href="/home">ECO-MINING</a>
            </div>
            <div class="header-menus">
                <div class="header-menu">
                    <a href="/home" class="menu-title">
                        HOME
                    </a>
                </div>
                <div class="header-menu">
                    <a href="#" class="menu-title">
                        BLOCKS
                    </a>
                </div>
                <div class="header-menu">
                    <a href="#" class="menu-title">
                        TRANSACTIONS
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <table class="history-table">
                <tr class="table-title">
                    <th>Index</th>
                    <th>Prev Hash</th>
                    <th>Current Hash</th>
                    <th>Amount</th>
                    <th>Timestamp</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>#cc2n9c...</th>
                    <th>#fic020...</th>
                    <th>2</th>
                    <th>2018.10.27 16:45 GMT</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th>#cn912k...</th>
                    <th>#b01kos...</th>
                    <th>1</th>
                    <th>2018.10.27 16:45 GMT</th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>#10xlkp...</th>
                    <th>#v092ks...</th>
                    <th>1</th>
                    <th>2018.10.27 16:46 GMT</th>
                </tr>
                <tr>
                    <th>4</th>
                    <th>#v01lps...</th>
                    <th>#cio1d0...</th>
                    <th>3</th>
                    <th>2018.10.27 16:46 GMT</th>
                </tr>
                <tr>
                    <th>5</th>
                    <th>#pekr09...</th>
                    <th>#284f2q...</th>
                    <th>1</th>
                    <th>2018.10.27 16:46 GMT</th>
                </tr>
                <tr>
                    <th>6</th>
                    <th>#f92klo...</th>
                    <th>#p0ind2...</th>
                    <th>5</th>
                    <th>2018.10.27 16:49 GMT</th>
                </tr>
                <tr>
                    <th>7</th>
                    <th>#n28fm2...</th>
                    <th>#xz20go...</th>
                    <th>3</th>
                    <th>2018.10.27 16:49 GMT</th>
                </tr>
                <tr>
                    <th>8</th>
                    <th>#2of0vi...</th>
                    <th>#6ovi3m...</th>
                    <th>1</th>
                    <th>2018.10.27 16:50 GMT</th>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>